@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes myfirst {
    0% {
        left: -100%;
        top: 0px;
    }

    100% {
        left: 0%;
        top: 0px;
    }

}

@keyframes mysecond {
    0% {
        left: 100%;
        top: 0px;
    }

    100% {
        left: 0%;
        top: 0px;
    }

}